*{margin: 0;
padding: 0;
box-sizing: border-box;}

body{
    background-color: #242526;
}

h1{
    color:white;
    font-size: 4.5rem;
}
h6{color: white;}

button{
    color: white;
    font-size: large;
    border: 2px solid rgb(155, 59, 245);;
    border-radius: 10px;
    background-color: rgb(155, 59, 245);;
    padding: 15px 32px;
}

button:hover{
    color: rgb(155, 59, 245);
    background-color: white;
    border: 2px solid rgb(155, 59, 245);;
    cursor: pointer;
}