*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html{
    scrollbar-color: purple;
}

body{
    background-color: #242526;
    width: 100vw;
}

h1{
    color: white;
}

.createItem{
    background-color: rgb(155, 59, 245);
    width: 300px;
    border-bottom: 5px solid rgb(133, 3, 255);
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

.createItem:hover{
    color: rgb(155, 59, 245);
    background-color: rgb(255, 255, 255);
    width: 300px;
    border-bottom: 5px solid rgb(136, 136, 136);
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

button{
    color: rgb(255, 255, 255);
    font-size: large;
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: #000000;
    padding: 5px 22px;
}

#idBTN{
    background-color: rgb(155, 59, 245);
    font-size: medium;
}
#idBTN:hover{
    background-color: white;
}

a{
    text-decoration: none;
    color: white;
}

button:hover{
    color: rgb(155, 59, 245);
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(155, 59, 245);
    cursor: pointer;
}

.listbtn{
    background-color: rgb(155, 59, 245);display: flex; justify-content: center;height: 25px; border-bottom: 5px solid rgb(133, 3, 255);border-radius: 3px;
    height: 30px;
}

.listbtn:hover{
    cursor: pointer;
    color: rgb(155, 59, 245);
    background-color: white;
    border-color: rgb(196, 195, 195);
}

ul{
width: 100%;
color: white;
display: flex;
justify-content: space-between;
list-style-type: none;
height: 35px;

}

li{
    width: 16%;
    height: 35px;
}

.component{
    width: 55%;
    color: white;
    display: flex; justify-content: center; align-items: center;
    height: 70px;
    background-color: rgb(155, 59, 245);
    margin: 10px 10px 10px 10px;
    border-bottom: 5px solid rgb(133, 3, 255);
    border-radius: 15px;
}

.component:hover{
    color: rgb(155, 59, 245);
    background-color: white;
    border-color: rgb(196, 195, 195);
    cursor: pointer;
}

.plus{
    position: absolute;
    left: 17vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
}

.plus:hover{
    border-color: rgb(155, 59, 245);
}

.citem{
    color: white;
    width: 55%;
    display: flex; justify-content: center; align-items: center;
    height: 70px;
    background-color: rgb(155, 59, 245);
    margin: 10px 10px 10px 10px;
    border-bottom: 5px solid rgb(133, 3, 255);
    border-radius: 15px;
}

.citem:hover{
    color: rgb(155, 59, 245);
    background-color: white;
    border-color: rgb(196, 195, 195);
    cursor: pointer;
}

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); /*scale 0 hides modal by default*/
    transition: 200ms ease-in-out;
    border: 5px solid rgb(133, 3, 255);
    border-radius: 10px;
    z-index: 10;
    background-color: rgb(0, 0, 0);
    width: 800px;
    max-width: 80%;
    color: white;
    max-height: 90%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
    overflow: hidden;
    overflow-y: scroll;
}


.modal-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: rgb(155, 59, 245);
    
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
    background-color: rgb(155, 59, 245);
}

.modal-header .close-button {
   cursor: pointer; 
}

.modal-body {
    padding: 10px;
    display: flex;
    justify-content: center;

    
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: 9;
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
    
}

/*Calendar widget CSS*/

::-webkit-calendar-picker-indicator {
    background-color: rgb(155, 59, 245);
    color: #ffffff;
  }
  
  /* Adjust font size of the datepicker */
  ::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .formsubmitbtn {
    background-color: rgb(155, 59, 245);
    color: white;
    border: 1px solid black;
    padding: 5px; border-radius: 3px;
  }

  .formsubmitbtn:hover {
    color: rgb(155, 59, 245);
    background-color: white;
    cursor: pointer;
  }

/* Style the scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #413f3f;
  }
  
  /* Style the thumb */
  ::-webkit-scrollbar-thumb {
    background-color: rgb(155, 59, 245);
    border-radius: 8px;
  }
  
  /* On hover, style the thumb */
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(133, 3, 255);
  }

  .avareqtags {
    height: 70px;
    max-width: 500px;
    overflow: scroll;
  }

  .chosreqtags{
    height: 70px;
    max-width: 500px;
    overflow: scroll;
  }

  .reqtag{
    display: inline-block;
    margin-top: 5px;
    margin-left: 2px;
    margin-right: 2px;
    padding: 2px;
    border-radius: 10px;
    background-color: #242526;
    cursor: pointer;
  }

  .reqtag:hover {
    background-color: purple;
  }

  .listheader {
    box-sizing: border-box;
    padding: 5px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    color: white;
    background-color:darkviolet;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

  }


/*Beginning of reqTags*/
  .tableItem {
    margin-top: 10px;
    color: white;
    background-color: rgb(155, 59, 245);
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
  }

  .tableItemDiv{
    margin-top: 10px;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size:larger;
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: rgb(155, 59, 245);
  }
  
  .innerDiv {
    padding: 5px;
    position: relative;
    /*bottom: 0px;*/
    top: 5px;
    
  }

  .deletebtn{
    color: rgb(255, 255, 255);
    font-size: medium;
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: #000000;
    /*padding: 5px 22px;*/
    position: relative;
    bottom: 5px;
  }